<%- include('header.ejs') -%>
  <main>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> - Utilisateur: <%= user %></p>
    <p><a href="/contact">Aller sur le formulaire de contact</a></p>
    <p><a href="/messages/">Aller sur le tableau des messages</a></p>
    <p><a href="/messages/list">Aller sur la liste des messages</a></p>
    <hr>
    <p><a href="/users/logout">Se déconnecter</a></p>
  </main>
<%- include('footer.ejs') -%>